html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(255, 255, 255);
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
} 

.highlight {
  color: #3a497c;
  font-weight: bold;
}

.App {
  height: 100%;
  width: 100%;
}

.App-logo
{
  height: 80px;
  width: 80px;
  margin-left : 1%;
  margin-bottom: 0%;
  margin-top: 0%;
}
  /* The main container of all the elements*/
  #container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow : hidden;
  }

  #banner{
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: #13171d;
  }
  
  /* The output panel has canvas and signal names*/
  #output-panel{
    height: 100%;
    width: 100%;
    overflow : auto;
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
  }

  /* Canvas holder*/
  #canvas-wrapper {
    width: 100%;
    height: 100%;
    margin : 20px;
    margin-left : 5px;
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
    user-select: none;
  }

  #ui-panel {
    width: 100%;
    margin-top:0%;
    height: 250px;
    display: flex;
    flex-direction: row;
    background-color: #bdbdbd;
    border-left: 1px solid #f1f1f1;
    padding: 0px;
  }
  
  .control-group {
    padding : 16px;
    padding-right: 0px;
    display: flex;
    width : fit-content;
    flex-direction: column;
    color: rgb(0, 0, 0);;
  }

  .control-editor-group {
    padding : 16px;
    padding-right: 0px;
    display: flex;
    width : 95%;
    flex-direction: column;
    color: rgb(0, 0, 0);;
  }
  
  .signal-label{
    height: 38px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: right;
    color: rgb(53, 89, 143);
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-right: 0px;
  }

  h1{
    color: white;
    font-size: 28px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 1%;
    width : 100%;
  }

  h3 {
    color: rgb(0, 0, 0);
  }

  .button-5
  {
    background-color: #2f3338;
    display: flex;
    border: 0px;
    padding: 2px;
    align-items: center;
    justify-content: center;
    margin: 2px;
    color: #ffffff;
    cursor: pointer;
    font-family: monospace;
    font-size: 10px;
    width: 100%;
    height: 26px;
    text-align: center;
  }

  .button-5:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px;
    background-color: #252525;
    font-weight: bold;
    font-size: 10px;
  }

  .tab-bar{
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    background-color: #566075;
  }

  .tab-label{
    height: 20px;
    display: flex;
    
    background-color: #5e5e5e;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding-right: 20px;
    padding-left: 20px;
    vertical-align:middle;
  }

  .tab-label:hover
  {
    background-color: #48494b;
    font-size: 12px;
  }

  .tab-label-selected {
    height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    color: white;
    font-size: 12px;
    padding-right: 20px;
    padding-left: 20px;
    vertical-align:middle;
    background-color: #1f1f20;
  }

